<ul class="side-menu">
  <li id="logo"><i class="fa-brands fa-twitter"></i></li>
  <ul class="menu-category">
    <li class="menu-icon"><i class="fa-solid fa-house"></i></li>
    <li class="menu-item">Home</li>
  </ul>
  <ul class="menu-category">
    <li class="menu-icon"><i class="fa-solid fa-hashtag"></i></li>
    <li class="menu-item">Explore</li>
  </ul>
  <ul class="menu-category">
    <li class="menu-icon"><i class="fa-regular fa-bell"></i></li>
    <li class="menu-item">Notifications</li>
  </ul>
  <ul class="menu-category">
    <li class="menu-icon"><i class="fa-regular fa-envelope"></i></li>
    <li class="menu-item">Messages</li>
  </ul>
  <ul class="menu-category">
    <li class="menu-icon"><i class="fa-regular fa-bookmark"></i></li>
    <li class="menu-item">Signets</li>
  </ul>
  <ul class="menu-category">
    <li class="menu-icon"><i class="fa-regular fa-rectangle-list"></i></li>
    <li class="menu-item">Listes</li>
  </ul>
  <ul class="menu-category">
    <li class="menu-icon"><i class="fa-regular fa-user"></i></li>
    <li class="menu-item">Profil</li>
  </ul>
  <li class="sidebar-tweet-btn">Tweet</li>
</ul>
