<ul class="side-menu">
  <li class="menu-item">Accueil</li>
  <li class="menu-item">Explorer</li>
  <li class="menu-item">Notifications</li>
  <li class="menu-item">Messages</li>
  <li class="menu-item">Signets</li>
  <li class="menu-item">Listes</li>
  <li class="menu-item">Profil</li>
</ul>
