// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "feed";
@import "form_legend_clear";
@import "navbar";
@import "sidebar";
@import "tendencies";
@import "tweet";
@import "tweet_form";

body {
  background-color: black;
  color: white;
  font-family: 'Roboto';
  margin: 0px;
  padding:0px
}
