// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "sidebar";
@import "tendencies";
@import "tweet";

body {
  background-color: black;
  color: white;
  font-family: 'Roboto';
}
