.sidebar {
  height: 100vh;
  padding-top: 30px;
  font-size: 24px;
}

.side-menu {
  list-style: none;
}

.menu-category {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 20px;
}

.menu-category>li {
  display: inline;
}

.menu-item {
  margin: 0px;
  padding-left: 8px;
}
.menu-icon {
  width: 40px;
  margin: 0px;
}

#logo {
  font-size: 32px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.sidebar-tweet-btn {
  background-color: #1DA1F2;
  width: 100%;
  border-radius: 50px;
  padding: 12px 20px;
  text-align: center;
}
.sidebar-tweet-btn:hover {
  transition: 1s;
  background-color: #1A8CD8;
}
