.tweet-info {
  margin: 8px 0px;
  font-weight: bold;
}


.avatar {
  margin-right: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.account-name {
  font-size: 12px;
  font-weight: lighter;
  color: #71767B;
}

.tweet {
  padding: 8px;
  display: flex;
  border-bottom: solid 1px #71767B;
}
.tweet-content {
  font-weight:400;
}

.feed {
  padding: 0px;
  margin: 0px;
  border-right: solid 1px #71767B;
  height: 100vh;
}

.tweet-footer {
  display: flex;
  justify-content: space-between;
  color: #71767B;
  font-weight: lighter;
}
